*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar,.footer{
    width: 100%;
    height: 7vh;
}
.navbar .container{
    /* background: red; */
}
.navbar .navbar-brand{
    color: rgb(13, 179, 235);
    font-size: 18px;
}
.footer .container p{
    color: rgb(13, 179, 235);
    font-size: 15px;
}
p{
    margin: 0;
    padding: 0;
}
#wrapper{
    width: 100%;
    height: 86vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: whitesmoke;
}
.header{
    font-size: 19px;
    border-radius: 5px;
    text-transform: capitalize;
    padding: 10px;
}
.card{
    padding: 40px 15px;
}
.form-text{
    font-size: 15px;
    font-weight: 300;
    padding: 0 10px;
}
@media screen and (max-width:768px){
    .navbar .container h3{

    }
    #wrapper{
        height: 78vh;
    }
}